body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    font-family: Poppins, Veranda, sans-serif;
}

.item {
    /* background-color: aqua; */
    /* border: 2px solid black; */
}

.item.sidebar {
    grid-column: 1;
    grid-row: 1 / span 2;
    background-color: #0ea5e9;
    color: #fff;
}

.item.cards {
    /* grid-column: 2; */
}

.item.header {
    grid-column: 2;
    grid-row: 1;
    background-color: #f4f4f5;
}

.sideitem {
    /* background-color: bisque; */
}

.header {
    display: grid;
    /* align-items: center; */
    justify-content: space-around;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.headeritem {
    background-color: #f4f4f5;
}

.cards {
    display: grid;
    grid-template-rows: 1fr 10fr;
    /* grid-auto-flow: column; */
    /* grid-template-columns: 1fr ; */
    /* grid-template-rows: 1fr 1fr; */
}

.leftcard > div, .rightcard > div {
    /* height: 200px; */
    /* width: 200px; */
}

.leftcard, .rightcard {
    display: grid;
}

.leftcard {
    grid-template-columns: 1fr 1fr;
    /* grid-row: 2; */
}

.rightcard{
    /* grid-template-columns: 1fr; */
    /* grid-row: 2; */
}

ul {
    list-style-type: none;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    overflow: visible;
}

.sideitem:first-child {
    font-size: 2rem;
}

li {
    padding-left: 3.5rem;
    background-repeat: no-repeat;
    background-position:0 0;
    margin-bottom: 15px;
}

#dashboard {
    background-image: url(images/view-dashboard.svg);
}

#home {
    background-image: url(images/home.svg);
}

#profile {
    background-image: url(images/card-account-details.svg);
}

#messages {
    background-image: url(images/message-reply.svg);
}

#history {
    background-image: url(images/clock-time-four.svg);
}

#tasks {
    background-image: url(images/note-multiple.svg);
}

#communities {
    background-image: url(images/account-group.svg);
}

#settings {
    background-image: url(images/cog.svg);
}

#support {
    background-image: url(images/help-box.svg);
}

#privacy {
    background-image: url(images/shield-check.svg);
}

input {
    width: 700px;
    border-radius: 20px;
    padding: 5px 10px;
}

button {
    font-family: inherit; 
}

.search {
    border: none;
}

.search > img:hover {
    opacity: .3;
}

button > img {
    width: 25px;
    height: 25px;
    margin-bottom: -10px;
}

.small {
    height: 2rem;
}

.medium {
    height: 3rem;
}

.large {
    height: 5rem;
}

img {
    border-radius: 50%;
}

.headeritem.notification > * {
    margin-left: 15px;
}

.headeritem.profile > * {
    margin: 0px 0px;
}

.headeritem.profile img {
    /* grid-row: 1 / 3; */
}

.headeritem.profile span {
    display: block;
    font-size: calc(1em + 1vw);
    font-weight: bold;
}

span {
    font-weight: bold;
}

.upper, .lower {
    display: grid;
    justify-content: space-around;
    grid-auto-flow: column;
    align-items: center;
}

.lower button {
    margin-left: 40px;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #0ea5e9;
    border: none;
    color: #fff;
    font-size: 1em;
    width: 100px;
}

.upper > * {
    display: inline;
}

.notification {
    font-size: 1.1em;
}

#greeting {
    display: inline-block;
}

.title {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content:end;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}